<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <!--<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        <!--</a>-->
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Quick Search">
                </div>
                <kendo-button class="k-primary" ng-click=""><i class="fa fa-search"></i></kendo-button>
                <!--<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
            </form>
            <ul class="nav navbar-nav pull-left" style="text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray !important;">
                <li><a href="#"><i class="fa fa-user"></i> {{vm.welcomeMessage}}</a></li>
                <li class="dropdown"><a href="#"><i class="fa fa-cog"></i> Profile </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
